hero {
    height: 100vh;
    background: #0d6efd;        
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}


.hero-subtitle {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.texto-sobre {
    max-width: 800px;
    margin: auto;
    font-size: 1.1rem;
}


.card {
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
}


.navbar-nav .nav-link:hover {
    color: #0d6efd !important;
}


footer {
    font-size: 0.9rem;
}